body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#video-container {
  display: none;
  margin-top: 20px; /* Adjust this margin as needed */
}

